

body {
    background-color: wheat;
    color: antiquewhite;
    font-family: Arial, sans-serif;

    padding: 50px;
}

h1 {
    text-align: center;
}

ul{
    text-align: left;
}

a{
    text-align: left;
}