p {
    
    color: wheat;
}

body {
    background-color: black;
    color: antiquewhite;
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 50px;
}

img.image-resize {
    width: 15px; /* L'image prendra 50% de la largeur de son conteneur parent */
    height: auto; /* La hauteur s'ajustera automatiquement */
  }